.BaseLayout {
  background-color: #fed6e3;
  background-image: url('../../public/images/background-travel-2.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  box-sizing: border-box;
}