.Tickets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Tickets-finalizar {
  margin-left: auto;
}

.Tickets-ticket {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-bottom: 16px;
}

.Tickets-country {
  background-color: white;
  padding: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px dashed #4F54A7;
}

.Tickets-passengers {
  background-color: rgba(151, 149, 240, 0.5);
  padding: 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-left: 1px dashed #4F54A7;
}

.Tickets-passengers p {
  margin: 2px;
}

.Tickets-passengers span {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 60px;
  color: #4F54A7;
  transform: rotate(-45deg);
}
